<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar left">
      <ul class="button-group">
        <li><%= link_to('Sign Up', new_user_path, :remote => true, :class => 'button') %></li>
        <li><%= link_to('Sign In', login_path, :class => 'button') %></li>
    </ul>
    </div>
    <div class="nav-bar right">
      <ul class="button-group">
        <li><%= link_to('Home', root_path,:class => 'button') %></li>
        <li><%= link_to('Main Page', stocks_path,:class => 'button') %></li>
        <li><%= link_to('Logout', login_path,:method=>:delete, :class => 'button') %></li>
      </ul>
    </div>
  </div>
</div>